@import url(./reset.css);

/* ROOT */
:root{
    --black: black;
    --white: white;
    --grey: rgba(128, 128, 128, 0.824);
    --hckgreen: #00ff9c;

}
label {
  display: block;
  margin-bottom: 5px; 
}
input, select{
    padding:  0.5rem 0.2rem 0.5rem 1rem;
    border-radius: 7px;
    border: none;
    color: var(--grey);
    background-color: var(--black)
}
textarea{
    background-color: var(--black);
    color: var(--grey);
    border: none;
    border-radius: 2px;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #050505;
    color: var(--white);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    border-bottom: 0.5px solid var(--grey);
}


nav ul {
    list-style: none;
    display: flex;
    gap: 2.3rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13.5px;
    /* font-family: sans-serif; */
}

nav a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
}

h3{
    color: var(--grey);
    font-size: 14.5px;
    font-weight: bold;
}
.hero {
    text-align: center;
    padding: 100px 20px;
}
.btm-hero{
    margin: 1.5rem 0 0 1rem;
}
.hero-txt{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.hero-txt h1{
    font-size: 3.4rem;
    font-weight: bold;
    background: linear-gradient(to right, white, rgba(128, 128, 128, 0.253));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.email p{
    font-size: 25px;
}
#p{
    font-weight: 50;
    font-size: 16px;
}

.hero h2{
    color: var(--hckgreen);
}
/* LINKS */
.button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.button button{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid grey;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 24rem 1.5rem 2rem;
}
.connect{
    margin-top: 3rem;
    line-height: 3rem;
}
.connect-form-flex{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    gap: 10rem;
}
.input-submit button{
    background-color: var(--hckgreen);
    border: none;
    border-radius: 12px;
    color: var(--black);
    padding: 1rem 1rem 1rem 1rem;
    font-size: 14px;

}
section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}
.form{
    background-color: rgba(128, 128, 128, 0.103);
    border-radius: 10px;
    padding: 2rem 1rem 1rem 1rem;
    /* text-align: center; */
}
.form label{
    color: var(--grey);
    font-size: 14.5px;
    font-weight: bold;
}
.sec-flex , .second-place{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-flex{
    display: flex;
    justify-content: space-between;
}
.card {
    border: 1px solid #00ff9c;
    padding: 20px;
    margin-top: 20px;
    background: #020202;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #00ff9c;
}
